<h1>Hello <%= @reservation.name %></h1>

<h3><strong>WEL COME TO PATO PLACE</strong></h3>

<p>
  <%= @greeting %> <%= @reservation.name %> Your Reservation has been Cancled On PATO PLACE 
</p>

<h3><strong>Thanks To Come Here. Have a Great Day</strong></h3>