<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    <%= favicon_link_tag "icons/favicon.png" %>
    </style>
  </head>

  <body>
    <div class="container mailCenter">
      <%= yield %>
    </div>
  </body>
</html>
